{{#section 'head'}}
    <title>聊天</title>
    <link rel="stylesheet" type="text/css" href="css/chart.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/scroll/scroll.css">
    <script src="/js/json3.min.js"></script>
{{/section}}
<div class="main">
	<div class="head">
		{{#each vacation}}
			{{!--<img src="/vacation-photo/{{imgurl}}" style="width:100px;" />--}}
			<p class="name">{{name}}</p>
			<input type="hidden" value="{{imgurl}}" class="imgurl">
			<input type="hidden" value="{{myimgurl}}" class="myimgurl">
			<input type="hidden" value="{{id}}" class="id">
			<input type="hidden" value="{{myid}}" class="myid">
		{{/each}}
		<a href="/yike" class="back back-one"></a>
	</div>
	<div class="msgout">
		<div id="message"></div>	
	</div>
	<form class="forms">
		<div class="area"><textarea class="text"></textarea></div>
		<button class="but" type="button"></button>
	</form>
</div>

{{#section 'jquery'}}
	<script src="/lib/mobile/flexible.js" type="text/javascript"></script>
	<script src="/js/chart.js" type="text/javascript"></script>
{{/section}}
