{{#section 'head'}}
    <title>yike</title>
    <link rel="stylesheet" type="text/css" href="css/install.css">
{{/section}}
<h3>个人设置</h3>
<a href="javascript:history.back(-1)">返回</a>

{{#each vacation}}
	<input type="text" value="{{id}}" class="user-id"/>
<a href="/photocut?atl=1&id={{id}}"><img src="/vacation-photo/{{imgurl}}" style="width:100px;" /></a>
<form method="post" class="newslefft" action="/install">
<p>昵称：<input type="text" value="{{name}}" name="name"></p>
<p>说明：<textarea name="explain">{{explain}}</textarea></p>
{{!-- <p>邮箱:<input type="email" value="{{email}}" name="email" class="email"></p> --}}
<input type="hidden" value="{{sex}}" name="usesex" class="sex">
<p>性别:<span id="sex"></span></p>
<p>生日:<input type="date" name="birth" value="{{birth}}"></p>
{{/each}}
{{!-- <input type="submit" name="submit" value="确定" class="upuser"> --}}
<button class="upuser">确定</button>
</form>
{{#section 'jquery'}}
	<script src="/js/install.js" type="text/javascript"></script>
{{/section}}
