{{#section 'head'}}
    <title>alluser</title>
    <link rel="stylesheet" type="text/css" href="css/showuser.css">
{{/section}}
<h3>查看用户</h3>
<a href="/logout" class="quit">退出</a>
{{#each vacation}}
{{#if admin}}
	<div class="user myself">
{{else}}
	<div class="user other">
		<a href="/chart?id={{id}}" class="chart"></a>
{{/if}}
<a href="/detail?id={{id}}" class="header"><img src="/vacation-photo/{{imgurl}}"/></a></p>
<p>id:{{id}}</p>
<p class="name">{{name}}</p>
{{!-- <p>邮箱:{{email}}</p> --}}
<p class="explain">{{explain}}</p>
<p class="sex {{sex}}"></p>
{{!-- <p>生日:{{birth}}</p>
<p>注册时间:{{registerdate}}</p>
<p>是否在线:{{online}}</p> --}}
</div>
{{/each}}
{{#section 'jquery'}}
	<script src="/js/showuser.js" type="text/javascript"></script>
{{/section}}

