{{#section 'head'}}
    <title>yike</title>
    <link rel="stylesheet" type="text/css" href="css/showuser.css">
{{/section}}
<h3>查看用户<h3>
{{#each vacation}}
{{#if admin}}
	<div class="user myself">
		<button class="quit">退出</button>
{{else}}
	<div class="user other">
{{/if}}
<a href="/install?id={{id}}"><img src="/vacation-photo/{{imgurl}}" style="width:100px;" /></a></p>
<p>姓名：{{name}}</p>
{{!-- <p>邮箱:{{email}}</p> --}}
<p>说明:{{explain}}</p>
<p>性别:{{sex}}</p>
{{!-- <p>生日:{{birth}}</p>
<p>注册时间:{{registerdate}}</p>
<p>是否在线:{{online}}</p> --}}
</div>
{{/each}}

