{{#section 'head'}}
    <title>详情</title>
    <link rel="stylesheet" type="text/css" href="css/install.css">
{{/section}}
<h3>详情</h3>
<a href="/yike">返回</a>

{{#each vacation}}
<p><img src="/vacation-photo/{{imgurl}}" style="width:100px;" /></p>
{{#if markname}}
	<p>备注名：{{markname}}</p>
	<p>昵称：{{name}}</p>
{{else}}
	<p>昵称：{{name}}</p>
{{/if}}
<p>说明：{{explain}}</p>
<p>注册：{{registerdate}}</p>
<p>邮箱:{{email}}</p>
<p>性别:{{sex}}</p>
<p>生日:{{birth}}</p>
<p>在线:{{online}}</p>
{{#if admin}}
	<a href="/install">修改</a>
	<a href="/logout" class="quit">退出</a>
{{else}}
	<a href="/delete-friend?id={{id}}" class="delete">删除好友</a>
	<button class="beizhu">设置备注</button>
{{/if}}
{{/each}}
{{#section 'jquery'}}
	<script src="/js/user-detail.js" type="text/javascript"></script>
	<script>
		//删除确定弹框
		$('.delete').on('click',function(ev){
			ev = ev || window.event;
			if(confirm("是否删除好友?")){
				//alert ("点击了确定");
			}else{
				return false;
			}
		});
	</script>
{{/section}}
