{{#section 'head'}}
    <title>yike</title>
    <link rel="stylesheet" type="text/css" href="css/yike.css">
{{/section}}
<h3>yike</h3>
<div>
	<a href="/detail?id={{id}}" class="header"><img src="/vacation-photo/{{imgurl}}"/></a>
		<p>{{name}}</p>
</div>
<a href="/logout" class="quit">退出</a>
<form class="search">
	<input type="text" name="search"><button class="searup">搜索</button>
</form>
<div class="sear">

</div>
{{#each vacation}}
{{#if id}}
<div class="user other">
	<a href="/chart?id={{id}}" class="chart"></a>
	<a href="/detail?id={{id}}" class="header"><img src="/vacation-photo/{{imgurl}}"/></a></p>
	<p class="name">{{name}}</p>
	{{!-- <p>邮箱:{{email}}</p> --}}
	<p class="explain">{{explain}}</p>
	<p class="sex {{sex}}"></p>
	{{!-- <p>生日:{{birth}}</p>
	<p>注册时间:{{registerdate}}</p>
	<p>是否在线:{{online}}</p> --}}
</div>
{{else}}
	<div>什么都没有</div>
{{/if}}
{{/each}}
{{#section 'jquery'}}
	<script src="/js/yike.js" type="text/javascript"></script>
{{/section}}
